# Python
__pycache__/
*.pyc

# Mock data
mock_raw_sensor_stream/

# Real data
real_raw_sensor_stream/
Data_Processing/

# Pipeline outputs
segments/
windows/
vft_windows/

corrupted_data/
features/
fft_windows/

real_segments/
real_windows/
real_fft_windows/

# Reports
qc_reports/
real_qc_reports/

fft_report.csv
segment_report.csv
window_report.csv
features_dataset.csv

# Notebook checkpoints
.ipynb_checkpoints/

# Virtual env
.venv/
venv/
env/